.header{
    height: 55px;
    width: 100vw;
    position: fixed;
    opacity: 1;
    z-index: 10;
    .title{
        height: 100%;
        margin: 0;
        line-height: 55px;
        font-size: 20px;
        color: #FFF;
        opacity: 0.7;
    }
    .link{
        height: 100%;
        line-height: 55px;
        text-align: center;
        &.active{
            a{
                border-bottom: 2px solid #FFFFFF;
            }
        }
        a{
            padding: 0;
            margin: 0;
            height: 10px;
            color: #FFFFFF;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    .search-bar{
        height: 100%;
        form{
            height: 100%;
        }
        .city-select-img{
            text-align: right;
            height: 55px;
            line-height: 55px;
            margin: 0;
            padding: 0;
            padding-right: 10px;
            img{
                margin-top: 10px;
                width: 25px;
                opacity: .4;
            }
        }
        .city-select{
            margin: 0;
            padding: 0;
            height: 100%;
            line-height: 55px;
            input{
                width: 100%;
                height: 30px;    
                line-height: 28px;            
                outline: none;
                border: 1px solid rgba(255,255,255,.7);
                background: none;
                color: #FFF;
                text-transform: uppercase;
                font-size: 12px;
                padding: 5px;
                border-radius: 2px;
            }
            input::placeholder{
                color: #FFF;
                opacity: 0.3;
            }
        }
        .city-select-search{
            height: 100%;
            padding: 0;
                button{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: none;
                    opacity: 0.65;
                    img{
                        width: 20px;

                    }
                    &:hover{
                        opacity: 1;
                    }
            }
        }
    }
}