*, *::before, *::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #EFF3F7;
  font-family: 'Hind';
  user-select: none;
  cursor: default;

  &::-webkit-scrollbar {
    width: 0.5em;
  }
  
  &::-webkit-scrollbar-track {
      background: #F1F1F1;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #000;
  }
}

