.forecast-data-visualisation{
    background: rgba(255,255,255,.4);
    height: 70vh;
    position: relative;
    z-index: 100;
    border-radius: 4px;
    min-width: 300px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
    width: 0.3em;
    }
    
    &::-webkit-scrollbar-track {
        background: none;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #F1F1F1;
    }
    .row{
        height: 100%;
        .day-container{
            &:nth-child(2n){
                background: green;
            }
            background: red;
            height: 100%;
            .temp-point{
                width: 10px;
                height: 10px;
                background: #FFFFFF;
                margin: 0 auto;
            }
        }
        
    }
}